# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
**/.DS_Store

# Installers
*.dmg

# VSCode
.vscode/

# Sensitive and local data
.env

# Downloaded / scraped content
.page_cache/
web-site/
